.template-container{
    padding: 24px;
}


.template-section{
    position: relative;
    background-image: linear-gradient(45deg,#20274e,#101a4d,#080e2c);
    background-color: #094856;
    width: 90%; 
    /* FIXME fix 100% width */
    height: 90%;
    max-height:90%;
    overflow: hidden;
}

.template-add-btn{
left: 16px;
bottom: 16px;
}