.template-detail-card-info-container{
    /* background-color: azure; */
    width: 30%;
    height: 30%;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
    border-radius: 10px;
    padding: 4px;
}